{% extends 'base.html' %}
{% block content %}
<p>{{ books|length }} Titles</p>
{% if current_user.is_authenticated %} 
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Year <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
{% endif %}
<ul class="book-list">
    {% for book in books %}
    <li>{{ book.title }} - {{ book.year }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', book_id=book.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', book_id=book.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="amazon" href="https://www.amazon.com/s?k={{ book.title }}" target="_blank" title="Find this book on amazon">Amazon</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro-exercising.gif') }}" title="to~to~ro~">
{% endblock %}